@model InsanKaynaklarıProje.Models.Entity.IK_Personel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
            background-image: url(/Content/image/sayfa-ici/lgnpage1.jpg);
            background-size: cover; /* Arka plan resmini tam sayfa yapar */
            background-repeat: no-repeat; /* Resmin tekrar etmesini engeller */
            background-attachment: fixed; /* Arka plan resminin kaydırıldığında sabit kalmasını sağlar */
            background-position: center; /* Resmi ortalar */
        }

        .container {
            margin-top: 12%;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }
    </style>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
    <div id="container">
        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
        {
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center " style="color:black ; font-family:'Times New Roman'">Giriş Yap</h3>
                            <div class="form-group " style="color:black ; font-family:'Times New Roman'">
                             @Html.LabelFor(m => m.PersonelAd)
                             @Html.TextBoxFor(m => m.PersonelAd, new { @class = "form-control" })
                            </div>
                            <div class="form-group" style="color:black ; font-family:'Times New Roman'">
                                @Html.LabelFor(m => m.PersonelSifre)
                                @Html.PasswordFor(m => m.PersonelSifre, new { @class = "form-control" })
                                @Html.HiddenFor(x => x.Aktiflik)
                            </div>
                            <div class="form-group">
                             <button type="submit" class="btn btn-success">giriş yap</button>
                          

                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        }</div>
</body>

</html>
